<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIOwNaiZRBDFZfEXKT7cJ_OEBwVlOWsQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>633623089633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizLoy</string>
	<key>PROJECT_ID</key>
	<string>quizloy-95173</string>
	<key>STORAGE_BUCKET</key>
	<string>quizloy-95173.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633623089633:ios:aa7f25bb7b3f46596602a0</string>
</dict>
</plist>